body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
/* 
.calendar {
    border: .5px solid #d8d9db;
    width: 300px;
    height: 330px;
    background-color: #f1f2f4;
}

.month {
    text-align: center;
    font-weight: bold;
    padding: 7.5px;
    padding-top: 25px;
}

.prevMonth {
    margin-right: 50px;
}

.nextMonth {
    margin-left: 50px;
}

table {
    table-layout: fixed;
    width: 87%;
    border-collapse: collapse;
    padding-top: 5px;
    margin-left: 6%; 
}

table thead tr {
    font-size: 13px;
    text-align: center;
}

table tbody td {
    background-color: white;
    padding: 9px;
    text-align: center;
    border: .5px solid#d8d9db;
}

td {
    padding: 10px;

}
 */
